<div class= "blocks">
  <div class= "charts">
    <li><div id="chartdiv"></div></li>
    <li><div id="chartdiv2"></div></li>
  </div>
  <app-map-component></app-map-component>
  <app-gauge></app-gauge>
  <table class="table1">
    <tr><td style="font-size: 10px;color: white;text-align: center;">RESIDENTIAL DAMAGE ASSESSMENT</td></tr>
    <tr><td style="font-size: 30px; color:crimson;text-align: center; font-weight: bold; ">147</td></tr>
  </table>
  <table class="table2">
    <tr><td style="font-size: 10px;color: white;text-align: center;">SEARCH AND RESCUE CONTACTS MADE</td></tr>
    <tr><td style="font-size: 30px; color:cyan;text-align: center; font-weight: bold; ">32</td></tr>
  </table>
  <table class="table3">
    <tr><td style="font-size: 10px;color: white;text-align: center;">COMPLETED MEDICAL ASSESSMENT</td></tr>
    <tr><td style="font-size: 30px; color:forestgreen;text-align: center; font-weight: bold; ">140</td></tr>
  </table>
  <table class="table4">
    <tr><td style="font-size: 10px;color: white;text-align: center;">APPROVED RESOURCE REQUEST</td></tr>
    <tr><td style="font-size: 30px; color:gold;text-align: center; font-weight: bold; ">987</td></tr>
  </table>
</div>
