*{
  max-width: 1000px;
  max-height: 650px;
}
#chartdiv{
  background-color: #535072;
  width: 200px;
  height: 250px;
  border: 2px solid #2f2f37;
}
#chartdiv2{
  background-color: #535072;
  width: 200px;
  height: 250px;
  border: 2px solid #2f2f37;
}

/*.blocks li{
  display: inline-block;
  position: relative;
}
 */
.charts{
  position: absolute;
  background-color: #535072;
}
.charts li{
  display: inline-block;

}
.table1{
  position: absolute;
  left: 416px;
  top: 433px;
  background-color:#535072;
  border: 3px solid #2f2f37;
  width: 165px;
  height: 100px;

}
.table2{
  position: absolute;
  left: 578px;
  top: 433px;
  background-color:#535072;
  border: 3px solid #2f2f37;
  width: 165px;
  height: 100px;
}
.table3{
  position: absolute;
  left: 741px;
  top: 433px;
  background-color:#535072;
  border: 3px solid #2f2f37;
  width: 165px;
  height: 100px;

}
.table4{
  position: absolute;
  left: 902px;
  top: 433px;
  background-color:#535072;
  border: 3px solid #2f2f37;
  width: 165px;
  height: 100px;

}
